/* .outlined-basic {
  height: 65px;
  background-color: aliceblue;
  border-radius: 5px;
  width: 100%;
} */

#add-title {
  margin: 20px auto;
  /* width: 15%; */
  font-size: 40px;
  text-align: center;
}
/* .body {
  background-image: url("https://img.freepik.com/premium-photo/collage-photos-dental-care-accessories_185193-82296.jpg?w=740");
  background-size: initial;
  background-repeat: no-repeat;
} */
